.designHolder {
  width: 350px;
  padding: 0;
  background-color: white;
  margin-bottom: 20px;
  display: inline-block;
}

.designIcon{
  height : 200px;
  width: 100%;
  /* border-style:solid;
  border-color: rgb(196, 196, 196); */
  border-width: .5px;
}

.bannerImage{
  border-style:solid;
  border-color: white;
  border-width: 20px;
}