@import '~bootstrap/scss/bootstrap';

.btn {
  font-size: .9rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

[data-scroll] {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}