@import "index.css";
body{
  background-color:white;
}
.App {
  min-height: 100%;
  min-width: 100%;
  margin:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  color: var(--black-text);
  font-size: 14px;
  margin: 0;
}

p.smallText{
  font-size: 12px;
}

p.grayText{
  color: var(--gray-text);
}

p.blueText{
  color: var(--blue-text);
}


h3{
  font-weight: 600;
  font-size: 28px;
  color: var(--black-text);
  margin-top: 0;
  margin-bottom: 22px;
  margin-left: -1px;
}

h2{
  font-weight: 600;
  font-size: 23px;
  color: var(--black-text);
  margin-top: 0;
  margin-left: 0px;
  margin-bottom: 10px;
}

.h4{
  font-weight: 600;
  font-size: 18px;
  color: var(--black-text);
  margin-top:0;
  margin-bottom: 22px;
  margin-left: -1px;
  padding: 0;
}

.button{
  background-color: white;
  border: solid var(--blue-text) 1px;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  border-radius: 4px;
  margin: 20px;
  transition-duration: 0.4s;
  color: var(--blue-text);
  font-size: 16px;
  font-weight: 600;
}

.relative-container{
  position: relative;
}

.button:hover {
  background-color:var(--blue-text); /* Green */
  color: white;
}

.button p{
  color: var(--blue-text);
}


.Container {
  min-width: 1100px;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin:0px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.bodyText {
  margin-right: 15px; 
  padding-bottom: 20px; 
  font-size: 14px; 
  line-height: 180%;
}

.pfp{
  width: 100%;
  height: 230px;
}

.profileText{
  margin-left: 10px;
  margin-top: 10px;
}

.profileText p{
  margin: 0px;
  color: var(--dark-gray);
  font-size: 15px;
}

.linksColumn{
  margin-left: -2px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}
.linkIcons{
  width: 31px;
  height: 31px;
  padding: 0px;
  margin: 0;
  color: rgb(140, 209, 255);
}
.linkRow{
  margin: 0;
  margin-left: 8px;
  width: 100%;
  height: 50px;
}
.pfpText{
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 25px;
}

.experience {
  padding-left: 15px;
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--custom-white);
  /* box-shadow: var(--shadow); */
  border: var(--light-border);
}

.iconHolder {
  display: inline-block;
  height:100%;
}

.imageFit{
  height : 100%;
}

a{
  text-decoration: none;
}

a:link {
  color: black;
}
a:visited{
  color: black;
}

a:active {
  color: black;
}
.pink{
  color:rgb(255, 57, 116);
}
.yellow{
  color:rgb(255, 198, 43);
}

.center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerNoSize{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRow{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.row {
  flex:1;
  display: flex;
  width: 100%;
}