@import "index.css";
.experienceTitle{
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 16px;
  min-height: 3px;
}
.experienceContainer{
  /*overflow: auto;*/
  height: 100%;
}
.experienceHolder {
  width: 490px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: var(--shadow);
}

.descHolder {
  height: 70px;
  width: 77%;
  position: relative;
  padding-right: 5px;
}

.descTitle{
  width: 100%;
  margin: 0px;
  margin-top: -5px;
  margin-right: 10px;
}


.descTitle p{
  margin: 0px;
  margin-top: -50px;
  display: inline-block;
}

.descBody{
  margin: 0px;
  font-size: 14px;
  width: 98%;
  color: var(--dark-gray);
}
.descFooter{
  font-size: 12px;
  color: gray;
  display: inline-block;
  bottom: 0;
  margin-right: 2.5px;
}


.experienceIcon{
  height : 70px;
  width: 70px;
  /* border-style:solid;
  border-color: rgb(196, 196, 196); */
  border-width: .5px;
}