.slideshowCardText{
  margin-right: .5px;
  width: 180px;
  height: 100%;
  background-color: #ffffff;
}
.whiteText{
  color: rgb(49, 49, 49);
  padding-left: 10px;
}

.whiteText p,h3{
  margin-top: 6px;
  margin-right: 10px;
}
.slideshowCard{
  height: 300px;
  width: 700px;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.slideshowCardImageHolder{
  margin-left: .5px;
  width: 520px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}